.title {
    color: rgb(46, 90, 190);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%; /* Maximum width of the image is 100% of its container's width */
    height: auto; /* Maintains aspect ratio */
}

.card-body a {
    color: white;
}